/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritence in all browsers (opinionated).
 */
*,
::before,
::after {
	line-height: inherit;

	text-decoration: inherit; /* 1 */
	vertical-align: inherit; /* 2 */
}

/**
 * Basic typography style for copy text
 */
body {
	font-size: $body-font-size;
	line-height: $line-height;
	font-family: $text-font-stack;

	color: palette('text', 'dark');
}

/* HEADINGS AND TITLES */

/**
 * @see https://developer.mozilla.org/en/CSS/-moz-font-feature-settings
 * @see https://bugzilla.mozilla.org/show_bug.cgi?id=458634
 * @see https://bugzilla.mozilla.org/show_bug.cgi?id=611780
 */
h1,
h2,
h3,
h4,
h5,
h6,
legend,
caption,
details > summary {
	font-weight: bold;
	font-family: $title-font-stack;
	font-feature-settings: 'case' 1, 'cpsp' 1, 'cswh' 1, 'liga' 1, 'locl' 1, 'lnum' 1, 'pnum' 1, 'titl' 1, 'zero' 1;

	break-after: avoid;
	page-break-after: avoid;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
legend a,
caption a,
dt a {
	text-decoration: inherit;

	color: inherit;

	&:link {
		text-decoration: inherit;

		color: inherit;
	}
}

p {
	padding: 0;
	/*  -moz-font-feature-settings: 'onum' 1, 'pnum' 1, 'zero' 1;
		-ms-font-feature-settings: 'onum' 1, 'pnum' 1, 'zero' 1;
		-webkit-font-feature-settings: 'onum' 1, 'pnum' 1, 'zero' 1;
		font-feature-settings: 'onum' 1, 'pnum' 1, 'zero' 1;*/
	margin: 0;
}

/**
 * @see: http://demosthenes.info/blog/946/Controlling-Widows--Orphans
 */
article p {
	orphans: 3;
	widows: 3;
}

article p + p {
}

article h1 + p,
article h2 + p,
article h3 + p,
article h4 + p,
article h5 + p,
article h6 + p,
article legend + p,
article fieldset > p:first-child {
	margin-top: 0;

	text-indent: 0;
}

/* INLINE TEXT
============================================================================ */

/**
 * 1. Address styling not present in IE 8/9, Safari 5, and Chrome.
 * 2. Firefox uses `text-decoration: dotted underline;` to follow the specification standard
 * @see http://www.w3.org/TR/css-text-decor-3/#default-stylesheet
 * @see https://bugzilla.mozilla.org/show_bug.cgi?id=1157083
 * @see https://github.com/necolas/normalize.css/pull/451
 * @see http://caniuse.com/#feat=text-decoration
 */

%abbr-title {
	&[title] {
		text-decoration: none;

		cursor: help; /* 1 */

		border-bottom: 1px dotted;

		@supports (text-decoration: dotted underline) {
			text-decoration: dotted underline; /* 2 */

			border-bottom: inherit;
		}
	}
}

abbr {
	@extend %abbr-title;

	letter-spacing: 0.1em;
}

/**
 * 1. Address styling not present in Safari 5 and Chrome.
 */
dfn {
	@extend %abbr-title;

	font-style: italic; /* 1 */
	font-size: 1em;
}

/**
 * Addresses style set to 'bolder' in FF3/4, S4/5, Chrome
 * 1. Get font-weight value from parent element
 * 2. Set font-weight bolder than parent
 *
 * @see https://github.com/necolas/normalize.css/pull/342
 * @see https://github.com/necolas/normalize.css/pull/342#issuecomment-173801037
 */

// sass-lint:disable no-mergeable-selectors
b,
strong {
	// sass-lint:disable-block no-duplicate-properties
	font-weight: bold;
	font-weight: inherit; /* 1 */
}

b,
strong {
	font-weight: bolder; /* 2 */
}
// sass-lint:enable no-mergeable-selectors

em,
i {
}

i[lang] {
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
	color: palette('mark', 'foreground');

	background: palette('mark', 'background');
}

meter {
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
	font-size: 83.3333%;
	line-height: inherit;
}

/**
 * Change the positioning on superscript and subscript elements
 * in all browsers (opinionated).
 * 1. Correct the font size in all browsers.
 */
sub,
sup {
	position: relative;

	font-size: 83.3333%; /* 1 */
	line-height: 0;

	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

time {
	font-style: italic;

	&[pubdate] {
		cursor: help;
	}
}


/* codes
============================================================================ */
/**
 * 1. Address odd `em`-unit font size rendering in all browsers.
 * @see https://github.com/necolas/normalize.css/pull/295#issuecomment-34787724
 * 2. Fix the font-sizing bug by repeating the value.
 * @see https://github.com/necolas/normalize.css/blob/2bdda84272650aedfb45d8abe11a6d177933a803/README.md#extended-details
 */
code,
kbd,
pre,
samp,
var {
	font-size: 1em; /* 1 */
	font-family: $code-font-stack, monospace, monospace; /* 2 */
}

code {
}

kbd {
}

/**
 * Formatting quoted code in blog posts: CSS2.1 white-space: pre-wrap
 * @see http://www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/
 * Contain overflow in all browsers.
 */
pre {
	// sass-lint:disable-block no-duplicate-properties
	padding: 0;
	margin: 0;

	overflow: auto;

	word-wrap: break-word; /* IE */
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
}

samp {
	font-style: italic;
}

var {
	font-style: italic;
}

/* text edition
============================================================================ */
del,
s {
	text-decoration: line-through;
}

s {
	font-style: italic;
}

%updated {
	&::before {
		font-weight: bold;

		text-decoration: none;

		content: '[update] ';
	}

	&[datetime]::before {
		content: '[update\00A0\2192\00A0' attr(datetime) '] ';
	}

	&::after {
		text-decoration: none;

		content: ' [/update] ';
	}
}

ins {
	@extend %updated;

	text-decoration: underline;

	&:lang(pt)::before {
		content: ' [inserido] ';
	}

	&[datetime]:lang(pt)::before {
		content: ' [inserido\00A0\2192\00A0' attr(datetime) '] ';
	}

	&:lang(pt)::after {
		content: ' [/inserido] ';
	}
}

del {
	@extend %updated;

	&:lang(pt)::before {
		content: ' [excluído] ';
	}

	&[datetime]:lang(pt)::before {
		content: ' [excluído\00A0\2192\00A0' attr(datetime) '] ';
	}

	&:lang(pt)::after {
		content: ' [/excluído] ';
	}
}

/* quotes
============================================================================ */
///
/// Blockquote problems and solutions
///
/// @group components
/// @see palette
/// @source http://oli.jp/2011/blockquote/
///
/// @example markup
///   <blockquote>
///       <p>To teach how to live without certainty, and yet without being
///        paralyzed by hesitation, is perhaps the chief thing that philosophy,
///        in our age, can still do for those who study it.</p>
///       <footer>
///           <p>Bertrand Russell,
///           <cite>A History of Western Philosophy</cite></p>
///       </footer>
///   </blockquote>
///

blockquote {
}

blockquote > p {
	&::before {

	}

	&:last-of-type::after {

	}
}

q,
blockquote {
	font-style: italic;

	color: palette('quotes');
}

cite {
	font-style: italic;
	font-size: 1em;
}

blockquote footer {
	&::before {
		content: '\2014 \00A0';
	}
}

blockquote footer cite {
	font-style: italic;
}

q {
}

blockquote p,
blockquote pre,
blockquote li {
	font-size: 1em;
}

blockquote.verse { // sass-lint:disable-line no-qualifying-elements
	text-align: center;
}

blockquote.verse p { // sass-lint:disable-line no-qualifying-elements
	display: inline-block;

	width: auto;

	margin-right: auto;
	margin-left: auto;

	text-align: left;
}
